{% extends 'SimpleMQAdminGeneratorBundle::layout.html.twig' %}

{% block content %}

<div class="page-header"> 
<h1>{{entityName}} Edit</h1>
</div>

<form class="form-stacked" action="{{ path(entityRoutes.update, { 'id': id })}}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <button type="submit" class="btn success">Edit</button>
</form>


<a href="{{ path(entityRoutes.list)}}" class="btn">
    Back to the list
</a>

<form action="{{ path(entityRoutes.delete, { 'id': id }) }}" method="post">
    {{ form_widget(delete_form)}}
    <button type="submit" class="btn danger">Delete</button>
</form>

{% endblock %}
{% block sidebar %}
{{ parent() }}
    <div class="alert-message info">
      <p><strong>Information. </strong>Flash Message Space TODO!</p>
    </div>

{% endblock sidebar %}
