{% extends 'SimpleMQAdminGeneratorBundle::layout.html.twig' %}

{% block content %}

<div class="page-header"> 
<h1>{{entityName}} New</h1>
</div>

<div id="block">
    <form id="create-form" class="form-stacked well" action="{{ path(entityRoutes.create)}}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <br>
        <!-- <button type="submit" class="btn success">Create</button>-->
    </form>
</div>
<div style="padding:10px 10px 10px 20px">
    <a id="create" href="#" class="btn success">
        Create
    </a>
    <a id="back" href="{{ path(entityRoutes.list)}}" class="btn info">
        Back
    </a>
</div>

<script src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript">
    $('#create').click(function() {
        $('#create-form').submit();
    });    
</script>
{%endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock sidebar %}
