{% extends 'SimpleMQAdminGeneratorBundle::layout.html.twig' %}

{% block content %}

<div class="page-header"> 
<h1>{{entityName}} New</h1>
</div>

<form class="form-stacked" action="{{ path(entityRoutes.create)}}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit" class="btn success">Create</button>
    </p>
</form>

<a href="{{ path(entityRoutes.list)}}" class="btn">
    Back to the list
</a>

{%endblock %}
{% block sidebar %}
{{ parent() }}
    <div class="alert-message info">
      <p><strong>Information. </strong>Flash Message Space TODO!</p>
    </div>

{% endblock sidebar %}
