{% extends 'SimpleMQAdminGeneratorBundle::layout.html.twig' %}

{% block content %}

    <div class="page-header"> 
        <h1>{{entityName}} id {{id}} Show</h1>
    </div>
    <div style="well">
        <table class="zebra-striped">
            <tbody>
                {% for fields in entityFields %} 
                    <tr>
                        <th>{{fields.fieldName}}</th>
                    {% if fields.type == 'datetime' %}
                        <td>{{ attribute(entity,fields.fieldName )|date("m/d/Y")}}</td>
                    {% else %}
                        <td>{{ attribute(entity,fields.fieldName )}}</td>
                    {% endif %}                
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <form id="delete-form" action="{{ path(entityRoutes.delete, { 'id': entity.id }) }}" method="post">
        {{ form_widget(delete_form) }}
        <!--<button type="submit" class="btn danger">Delete</button>-->
    </form>
<div style="padding:10px 10px 10px 20px">
    <a href="{{ path(entityRoutes.edit, { 'id': entity.id }) }}" class="btn success">
        Edit
    </a>
    <a id="delete" href="#" class="btn danger">
        Delete
    </a>
    <a id="back" href="{{ path(entityRoutes.list)}}" class="btn info">
        Back
    </a>
</div>

<script src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript">
    $('#delete').click(function() {
        $('#delete-form').submit();
    });  
</script>    
{%endblock %}

{% block sidebar %}
    {{ parent() }}
    <div class="alert-message info">
      <p><strong>Information. </strong>Flash Message Space TODO!</p>
    </div>

{% endblock sidebar %}
